<% include ../partials/header %>

<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
      selector:'textarea',
      menubar: false,  // removes the menubar
      height: 500,
      theme: 'modern',
      branding: false,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table contextmenu directionality emoticons template paste textcolor'
      ],
    });</script>

<form action="/blogs/<%= post._id %>?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" value="<%=post.author%>" name=post[author]>
  </div>
  <div class="form-group">
    <label for="posttitle">Post Title</label>
    <input type="text" class="form-control" id="posttitle" value="<%=post.title%>" name=post[title]>
  </div>
  <div class="form-group">
    <label for="postintro">Post Intro</label>
    <input type="text" class="form-control" id="postintro" value="<%=post.intro%>" name=post[intro]>
  </div>

  
  <div class="row">
    <div class="col-md-5">
      <label>Image Upload</label>
      <div class="md-form">
        <div class="file-field">
          <div class="btn btn-primary btn-sm ">
            <span>Choose file</span>
            <input type="file" id="fileupload" name="imageFile">
          </div>
          <div class="file-path-wrapper" style="margin-top:18px;">
            <input class="file-path validate" type="text" placeholder="Upload your file" value="<%=post.imageFile%>" name="post[imageFile]">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <h4 style="text-align:center; padding-top:24px;">OR</h4>
    </div>

    <div class="col-md-5">
      <label>Image URL</label>
      <div class="md-form">
        <input type="text" class="form-control" placeholder="Image URL" value="<%=post.imageURL%>" name=post[imageURL]>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="type">Post Type</label>
    <select class="form-control" id="type" name=post[postType]>
      <%if (post.postType === "Tech Review"){ %>
        <option selected>Tech Review</option>
      <%}else{%>
        <option>Tech Review</option>
      <%}%>
       <%if (post.postType === "Opinion"){ %>
        <option selected>Opinion</option>
      <%}else{%>
        <option>Opinion</option>
      <%}%>
      <%if (post.postType === "Tutorial"){ %>
        <option selected>Tutorial</option>
      <%}else{%>
        <option>Tutorial</option>
      <%}%>
       <%if (post.postType === "Movie Review"){ %>
        <option selected>Movie Review</option>
      <%}else{%>
        <option>Movie Review</option>
      <%}%>
       <%if (post.postType === "Programming"){ %>
        <option selected>Programming</option>
      <%}else{%>
        <option>Programming</option>
      <%}%>
    </select>
  </div>
  <div class="form-group">
    <label for="content">Post Content</label>
    <textarea class="form-control" id="content" class="editable" name=post[content]><%= post.content %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% include ../partials/footer %>
