<% include ../partials/header %>

<div class="section">
<p>
  <a class="btn-floating btn-large blue pull-right" href="/blogs/new"><i class="fa fa-plus-circle"></i></a>
  <h4>Recent Blogs</h4>
  <hr>
</p>
</div>

<% posts.reverse().forEach(function(post){ %>
<div class="card blogs-index-card">
<div class="row">
  <div class="col-md-6 mb-r" style="margin-bottom:0px !important;">
      <div class="view overlay hm-white-slight">
      <img src="<%=post.image%>" alt="First sample image" class="blogs-index-image">
      <a>
      <div class="mask waves-effect waves-light"></div>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-r" style="padding-top:15px;">
    <% if (post.postType == "Tech Review"){ %>
      <a href="" class="light-blue-text"><h5><i class="fa fa-desktop"></i> Tech Review</h5></a>
    <% } %>
    <% if (post.postType === "Opinion"){ %>
      <a href="" class="light-green-text"><h5><i class="fa fa-commenting"></i> Opinion</h5></a>
    <% } %>
    <% if (post.postType === "Tutorial"){ %>
      <a href="" class="red-text"><h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> Tutorial</h5></a>
    <% } %>
    <% if (post.postType === "Movie Review"){ %>
      <a href="" class="purple-text"><h5><i class="fa fa-film" aria-hidden="true"></i> Movie Review</h5></a>
    <% } %>    
    <% if (post.postType === "Programming"){ %>
      <a href="" class="indigo-text"><h5><i class="fa fa-hashtag" aria-hidden="true"></i> Programming</h5></a>
    <% } %>        
    <h4><%=post.title%></h4>
    <p class="blogs-index-intro"><%-post.intro%></p>
    <p>by <a><strong><%=post.author%></strong></a>, 26/08/2016</p>
    <a class="btn btn-primary" href="/blogs/<%=post.id%>">Read more</a>
  </div>
</div>
</div>
<%});%>

<% include ../partials/footer %>
