<% include ../partials/header %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1474526219297679',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<section class="section section-blog-fw">
  <!--First row-->
  <div class="row">
    <div class="col-md-12">
    <!--Featured image-->
    <div class="view overlay hm-white-slight">
      <%if (post.imageFile){ %>
        <img src="<%=post.imageFile%>">
      <%} else {%>
        <img src="<%=post.imageURL%>">
      <%}%>
      <a>
      <div class=""></div>
        </a>
    </div>

    <!--Post data-->
    <div class="jumbotron">
      <h2><a><%=post.title%></a></h2>
      <p>Written by <a><%=post.author%></a>, 26/08/2016</p>

      <a class="btn btn-default ">
        <i class="fa fa-comments-o"></i>
        <span class="hidden-md-down ">Comments</span>
      </a>
      <a class="btn btn-fb"  id="shareBtn">
       <i class="fa fa-facebook left"></i>
       <span class="hidden-md-down ">Facebook</span>
     </a>
     <a class="btn btn-tw twitter-share-button" href="https://twitter.com/intent/tweet">
       <link rel="canonical" href="/blogs/<%=post.id%>">
       <i class="fa fa-twitter left "></i>
       <span class="hidden-md-down ">Twitter</span>
     </a>
     <%if(currentUser && currentUser.isAdmin){%>
        <a class="btn btn-warning " href="/blogs/<%=post.id%>/edit">
          <i class="fa fa-edit"></i>
          <span class="hidden-md-down ">Edit Post</span>
        </a>
        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">
          <i class="fa fa-close"></i>
          <span class="hidden-md-down ">Delete Post</span>
        </a>
    <%}%>    
    </div>


    <!--Excerpt-->
    <div class="excerpt">
      <p><%-post.content%></p>
    </div>
  </div>
</div>
<!--/First row-->

<hr>


<!--Comments - Wrapper-->
<div class="comments-list text-left">
  <div class="section-heading">
    <h3>Comments <span class="badge blue">3</span></h3>
  </div>
<!--First row-->
  <div class="row">
    <!--Image column-->
    <div class="col-sm-2 col-12">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg">
    </div>
    <!--/.Image column-->
    <!--Content column-->
    <div class="col-sm-10 col-12">
      <a><h3 class="user-name">John Doe</h3></a>
      <div class="card-data">
        <ul>
        <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
        </ul>
      </div>
      <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>
    <!--/.Content column-->
  </div>
  <!--/.First row-->
</div>
<!--/.Main wrapper-->



<!-- Modal -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Deletion Confirmation</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form action="/blogs/<%=post._id%>?_method=DELETE" method="POST" class="delete-form" id="delete-form">
            <div class="form-group">
              <h6>Please Type in the name of the post (<%=post.title%>)</h6>
              <input type="text" class="form-control" name="verify" style="text-align: center;">
              <input type="hidden" name="postTitle" value="<%=post.title%>">
            </div>
      </div>
      <!--Footer-->
      <div class="modal-footer">
          <a class="btn btn-danger btn-block" href="javascript:void()" onclick="document.getElementById('delete-form').submit();">
            <i class="fa fa-close"></i>
            <span class="hidden-md-down"> Delete Post</span>
          </a>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->

<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'https://developers.facebook.com/docs/',
  }, function(response){});
}
</script>

<% include ../partials/footer %>
