<% include ../partials/header %>
<div class="row">
  <!--Post Types Box-->
  <div class="col-md-4">
    <div class="card" style="padding-top:15px; padding-bottom:15px; margin-left:10px; margin-bottom: 10px;">
      <div class="container">
        <h3 style="padding-bottom: 10px;">List of Post Categories</h3>
        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#newPostType">
        <i class="fa fa-plus"></i>
        <span class="hidden-md-down ">New Post Category</span>
        </a>
        <hr style="margin-bottom: 0px;">
        <div id="scrollable-content">
          <ul>
          <% postType.forEach(function(postType){ %>
            <div class="card" style="padding-top:8px;">
              <li style="color:<%=postType.color%>; padding-right: 10px;">
                <h5>
                <i class="fa fa-<%=postType.icon%>"></i>&nbsp;&nbsp;<%=postType.name%>
                <form action="/admin/post-type/<%=postType._id%>?_method=DELETE" method="POST" id="delete-form-<%=postType.id%>" class="form-inline pull-right"></form>
                <a class="pull-right" style="color: red;" onclick="document.getElementById('delete-form-<%=postType.id%>').submit();"><i class="fa fa-close"></i></a>
                <a class="pull-right" style="color: orange; padding-right: 5px;" data-toggle="modal" data-target="#editPostType-<%=postType.id%>"><i class="fa fa-edit"></i></a>
                </h5>
              </li>
            </div>
          <%});%>
          </ul>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <!--Start of User Box-->
  <div class="col-md-8">
    <div class="card" style="padding-top:15px; padding-bottom:15px; margin-right:10px; margin-bottom: 10px;">
      <div class="container">
        <h3 style="padding-bottom: 10px;">List of Users</h3>
        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#newUserModal">
        <i class="fa fa-plus"></i>
        <span class="hidden-md-down ">Add a New User</span>
        </a>
        <hr style="margin-bottom: 0px;">
        <div id="scrollable-content" style="height:197px;">
          <ul>
            <%user.forEach(function(user){%>
            <div class="card" style="padding-top:15px; padding-bottom:8px;">
              <li>
               <div class="row">
                <div class="col-md-5">
                  <div class="comments-list inlineEl" style="padding-left: 10px; padding-right: 30px;"><img src="<%=user.avatar%>" style="display: inline; max-width: 80px;" ></div>
                  <div class="inlineEl">
                    <h5 class="inlineEl">
                      <a><%=user.username%></a>
                    </h5>
                  </div>
                </div>
                <div class="col-md-4">
                  <form class="form-inline noMargin" action="/admin/userupdate/<%= user._id %>?_method=PUT" method="post" id="userEdit-form-<%=user.id%>">
                    <div class="row">
                      <div class="col-md-6">
                        <p>Admin</p>
                        <select class="mdb-select noMargin" name="user[isAdmin]">
                          <%if(user.isAdmin){%>
                            <option selected value=true>True</option>
                            <option value=false>False</option>
                            <%}else{%>
                            <option value=true>True</option>
                            <option selected value=false>False</option>
                          <%}%>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <p>Moderator</p>
                        <select class="mdb-select noMargin" name="user[isModerator]">
                          <%if(user.isModerator){%>
                            <option selected value=true>True</option>
                            <option value=false>False</option>
                            <%}else{%>
                            <option value=true>True</option>
                            <option selected value=false>False</option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-3">
                  <div style="vertical-align: middle; padding:0px; margin:0px;">
                    <a class="btn btn-warning btn-block" onclick="document.getElementById('userEdit-form-<%=user.id%>').submit();"><i class="fa fa-cogs"></i> Update User</a>
                    <%if(user.id===currentUser.id){%>
                      <a class="btn btn-danger btn-block disabled" onclick="document.getElementById('deleteUser-form-<%=user.id%>').submit();"><i class="fa fa-close"></i> Delete User</a>
                    <%}else{%>
                      <a class="btn btn-danger btn-block" onclick="document.getElementById('deleteUser-form-<%=user.id%>').submit();"><i class="fa fa-close"></i> Delete User</a>
                    <%}%>
                  </div>
                </div>
               </div>
              </li>
            </div>
            <form action="/admin/userDelete/<%=user._id%>?_method=DELETE" method="POST" id="deleteUser-form-<%=user.id%>"></form>
            <%});%>
          </ul>
        </div>
        <hr style="margin-top: 0px;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col md-6">
      <a class="btn btn-default btn-block" href="/admin/emails/uservalidation" target="_blank">
        <i class="fa fa-envelope"></i>
        <span class="hidden-md-down ">Show User Validation Email</span>
      </a> 
    </div>
    <div class="col md-6">
      <a class="btn btn-default btn-block" href="/admin/emails/forgot" target="_blank">
        <i class="fa fa-envelope"></i>
        <span class="hidden-md-down ">Show Forgot Password Email</span>
      </a> 
    </div>
  </div>
</div>

<% include ../partials/admin/editPostTypeModal %>
<% include ../partials/admin/newPostTypeModal %>
<% include ../partials/admin/newUserModal %>
<% include ../partials/footer %>
