<% postType.forEach(function(postType){ %>
    <!-- Modal -->
    <div class="modal fade" id="editPostType-<%=postType.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Edit <%=postType.name%></h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="/admin/post-type/<%=postType.id%>?_method=PUT" method="POST" id="editPostType-<%=postType.id%>-form">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="postName">Name</label>
                            <input type="text" class="form-control" name="postType[name]" style="text-align: center;" id="postName" value="<%=postType.name%>">
                        </div>
                        <div class="form-group">
                            <label for="postIcon">Icon</label>
                            <input type="text" class="form-control" name="postType[icon]" style="text-align: center;" id="postIcon" value="<%=postType.icon%>">
                        </div>
                        <div class="form-group">
                            <label for="postColor">Colour</label>
                            <input type="text" class="form-control" name="postType[color]" style="text-align: center;" id="postColor" value="<%=postType.color%>">
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <a class="btn btn-warning btn-block" href="javascript:void()" onclick="document.getElementById('editPostType-<%=postType.id%>-form').submit();">
                    <i class="fa fa-edit"></i>
                    <span class="hidden-md-down"> Edit Post Type</span>
                    </a>
                    </form>
                </div>
            </div>
        <!--/.Content-->
        </div>
    </div>
    <!-- Modal -->
<%});%>